.contact-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(192, 224, 252);
  }
  
  .contact-container h2 {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .contact-container form {
    display: grid;
    gap: 10px;
    padding: 10px;
  }
  
  .contact-container input,
  .contact-container textarea {
    width: 80%;
    height: 2rem;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-left: 60px;
  }
  
  .contact-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    height: 4rem;
    width: 50%;
    align-self: center;
    justify-self: center;
  }
  
