.main{
    height: auto;
    min-height: 89vh;
    background-color:  aliceblue;
    display: flex;
    align-items:center;
}


.content{
width: 40%;
padding: 60px;
display: flex;
flex-direction: column;
justify-content: left;

}
p{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
.webd{
    color: #0e012bd8;
    font-size: 1.8rem;
}
h1{
    color: #0e012b;
    font-weight: 700;
    font-size: 4rem;
}
